{{> system-style}}

<style>
  .subhead {
    font-size:
      11px;
    background: black;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .hblock {
    display: flex;
    line-height: 20px;
  }

  .vblock {
    display: flex;
    line-height: 20px;
    flex-direction: column;
  }

  .hblock>label,
  .vblock>label {
    background: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing:
      -1px;
    font-size: 13px;
    padding: 5px 10px;
    text-align: center;
  }

  .hblock>label {
    width: 80px;
  }

  .hblock input,
  .vblock input {
    background: white;
    flex: auto;
    border: 1px solid black;
    padding: 5px;
    padding-right: 0;
    margin: 0;
  }

  .hblock input {
    width: 60%;
  }

  /* h2:before { content: ' '; background: black; position:
  absolute; height: 30px; width: 20px; left: 0px; } */
  /* h2:after { content: '
  '; background: black; position: absolute; height: 30px; width: 1000px;
  margin-left: 5px; } */
  .stack {
    display: flex;
    flex-direction: column;
    gap:
      5px;
  }

  .vitals {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
  }

  .logo {
    grid-area: 1 / 1 / 2 / 6;
  }

  .pcname {
    grid-area: 2 / 1 / 3 / 6;
  }

  .alignment {
    grid-area: 3 / 1 / 4 / 6;
  }

  .class {
    grid-area: 4 / 1 / 5 / 4;
  }

  .level {
    grid-area: 4 / 4 / 5 / 6;
  }

  .title {
    grid-area: 5 / 1 / 6 / 4;
  }

  .hitdie {
    grid-area: 5 / 4 / 6 / 6;
  }

  @media screen and (min-width: 400px) {
    .vitals {
      grid-template-columns:
        repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .logo {
      grid-area: 1 / 1 / 3 / 3;
    }

    .pcname {
      grid-area: 1 / 3 / 2 / 6;
    }

    .class {
      grid-area: 2 / 3 / 3 / 5;
    }

    .level {
      grid-area: 2 / 5 / 3 / 6;
    }

    .title {
      grid-area: 3 / 3 / 4 / 5;
    }

    .hitdie {
      grid-area: 3 / 5 / 4 / 6;
    }

    .alignment {
      grid-area: 3 / 1 / 4 / 3;
    }
  }

  .combat {
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: start;
  }

  .header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .left {
    grid-area:
      2 / 1 / 3 / 2;
    display: flex;
  }

  .left input {
    height: 94px;
    text-align:
      center;
    padding-left: 0;
    border-right: 0;
  }

  .left .vblock:last-child input {
    border-right: 1px solid black;
  }

  .center {
    grid-area: 3 / 1 / 4 / 3;
    display:
      flex;
    flex-direction: column;
    gap: 5px;
  }

  .right {
    grid-area: 2 / 2 / 3 / 3;
    /* display: flex; */
  }

  .right input {
    text-align: center;
    padding-left: 0;
  }

  @media screen and (min-width: 400px) {
    .combat {
      grid-template-columns:
        repeat(3, 1fr);
      grid-template-rows: auto;
      align-items: start;
    }

    .header {
      grid-area: 1 / 1 / 2 / 4;
    }

    .left {
      grid-area: 2 / 1 / 3 / 2;
    }

    .left input {
      height: 89px;
    }

    .center {
      grid-area: 2 / 2 / 3 / 3;
    }

    .right {
      grid-area: 2 / 3 / 3 / 4;
    }
  }

  .movement {
    display: flex;
    /* gap: 5px; */
  }

  .movement input {
    width: 100%;
  }

  .movement .inlineblock {
    border: 1px solid black;
    border-right:
      none;
  }

  .movement .inlineblock:last-child {
    border-right: 1px solid black;
  }

  .movement .inlineblock input {
    border: none;
  }

  .movement label {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight:
      bold;
  }

  .movement input {
    text-align: center;
    padding-left: 0;
  }

  .inlineblock {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 400px) {
    .abilitiesetc {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      align-items: start;
    }
  }

  .attributes {
    grid-template-columns: repeat(3,
        1fr);
    grid-template-rows: auto repeat(2, 1fr);
  }

  .attributes .header {
    grid-area: 1 / 1 / 2 / 4;
  }

  .attributes .strength {
    grid-area: 2 / 1 / 3 / 2;
  }

  .attributes .intelligence {
    grid-area: 2 / 2 / 3 / 3;
  }

  .attributes .wisdom {
    grid-area: 2 / 3 / 3 / 4;
  }

  .attributes .dexterity {
    grid-area: 3 / 1 / 4 / 2;
  }

  .attributes .constitution {
    grid-area: 3 / 2 / 4 / 3;
  }

  .attributes .charisma {
    grid-area: 3 / 3 / 4 / 4;
  }

  @media screen and (min-width: 400px) {
    .attributes {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto repeat(1, 1fr);
    }

    .attributes .header {
      grid-area: 1 / 1 / 2 / 7;
    }

    .attributes .strength {
      grid-area: 2 / 1 / 3 / 2;
    }

    .attributes .intelligence {
      grid-area: 2 / 2 / 3 / 3;
    }

    .attributes .wisdom {
      grid-area: 2 / 3 / 3 / 4;
    }

    .attributes .dexterity {
      grid-area: 2 / 4 / 3 / 5;
    }

    .attributes .constitution {
      grid-area: 2 / 5 / 3 / 6;
    }

    .attributes .charisma {
      grid-area:
        2 / 6 / 3 / 7;
    }
  }

  .attributes .vblock {
    display: grid;
    grid-template-columns:
      repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid black;
    border-top: 0;
  }

  .attributes input {
    text-align: center;
    border: none;
    padding-left: 0;
  }

  .attributes .vblock label {
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 0;
    padding-right: 0;
  }

  .attributes .vblock input.value {
    grid-area: 2 / 1 / 3 / 2;
  }

  .attributes .vblock input.modifier {
    grid-area: 2 / 2 / 3 / 3;
  }

  .savingthrows {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(1, 1fr);
    align-items: start;
  }

  .savingthrows .header {
    grid-area: 1 / 1 / 2 / 4;
  }

  .savingthrows .deathpoison {
    grid-area:
      2 / 1 / 3 / 2;
  }

  .savingthrows .magicwands {
    grid-area: 2 / 2 / 3 / 3;
  }

  .savingthrows .paralysispetrification {
    grid-area: 2 / 3 / 3 / 4;
  }

  .savingthrows .breathattacks {
    grid-area: 3 / 1 / 4 / 2;
  }

  .savingthrows .spellsrodsstaves {
    grid-area: 3 / 2 / 4 / 3;
  }

  @media screen and (min-width: 400px) {
    .savingthrows {
      grid-template-columns: repeat(5, 1fr);
    }

    .savingthrows .header {
      grid-area: 1 / 1 / 2 / 6;
    }

    .savingthrows .deathpoison {
      grid-area: 2 / 1 / 3 / 2;
    }

    .savingthrows .magicwands {
      grid-area: 2 / 2 / 3 / 3;
    }

    .savingthrows .paralysispetrification {
      grid-area: 2 / 3 / 3 / 4;
    }

    .savingthrows .breathattacks {
      grid-area: 2 / 4 / 3 / 5;
    }

    .savingthrows .spellsrodsstaves {
      grid-area: 2 / 5 / 3 / 6;
    }
  }

  .savingthrows input {
    text-align: center;
    padding-left: 0;
  }

  .treasure {
    grid-template-columns:
      repeat(5, 1fr);
    grid-template-rows: auto repeat(1, 1fr);
  }

  .treasure .header {
    grid-area: 1 / 1 / 2 / 6;
  }

  .treasure .platinum {
    grid-area: 2 / 1 / 3 / 2;
  }

  .treasure .gold {
    grid-area: 2 / 2 / 3 / 3;
  }

  .treasure .electrum {
    grid-area:
      2 / 3 / 3 / 4;
  }

  .treasure .silver {
    grid-area: 2 / 4 / 3 / 5;
  }

  .treasure .copper {
    grid-area: 2 / 5 / 3 / 6;
  }

  @media screen and (min-width: 400px) {
    .treasure .vblock {
      flex-direction: row;
    }
  }

  .arrayItem {
    display: flex;
  }

  .arrayItem>* {
    flex: 0 0 auto;
  }
</style>

<script>
  let sendMessage = (message) => {
    window.top.postMessage(
      {
        source: 'Frame',
        id: '123',
        message: 'onMessage',
        data: message
      },
      'http://localhost:3000'
    )
  }
</script>

<div class='vitals grid'>
  <div class='logo'>
    <h1>Old-School Essentials</h1>
    <div class='subhead'>Retro Adventure Game</div>
  </div>
  <div class='pcname hblock'>
    <label>PC</label>
    <input placeholder='Name...' name='name' />
  </div>
  <div class='alignment hblock'>
    <label>AL</label>
    <input placeholder='Alignment...' name='alignment' />
  </div>
  <div class='class hblock'>
    <label>Class</label>
    <input placeholder='Class...' name='Class' />
  </div>
  <div class='level hblock'>
    <label>LVL</label>
    <input placeholder='Level...' name='level' />
  </div>
  <div class='title hblock'>
    <label>Title</label>
    <input placeholder='Title...' name='title' />
  </div>
  <div class='hitdie hblock'>
    <label>HD</label>
    <input placeholder='Hit Die...' name='hitdie' />
  </div>
</div>

<div class='attributes grid'>
  <div class='header'>
    <h2>Ability Scores</h2>
  </div>

  <div class='strength vblock'>
    <label>STR</label>
    <input class='value' name='strength' placeholder='&mdash;' />
    <input class='modifier' name='strengthModifier' placeholder='{{strengthModifier}}' />
    <button onclick="()=>{sendMessage(`/r d20 ${doc.values.strengthModifier}`)}">Roll</button>
  </div>

  <div class='intelligence vblock'>
    <label>INT</label>
    <input class='value' name='intelligence' placeholder='&mdash;' />
    <input class='modifier' name='intelligenceModifier' placeholder='{{intelligenceModifier}}' />
    <button onclick="()=>{sendMessage(`/r d20 ${doc.values.intelligenceModifier}`)}">Roll</button>
  </div>

  <div class='wisdom vblock'>
    <label>WIS</label>
    <input class='value' name='wisdom' placeholder='&mdash;' />
    <input class='modifier' name='wisdomModifier' placeholder='{{wisdomModifier}}' />
    <button onclick="()=>{sendMessage(`/r d20 ${doc.values.wisdomModifier}`)}">Roll</button>
  </div>

  <div class='dexterity vblock'>
    <label>DEX</label>
    <input class='value' name='dexterity' placeholder='&mdash;' />
    <input class='modifier' name='dexterityModifier' placeholder='{{dexterityModifier}}' />
    <button onclick="()=>{sendMessage(`/r d20 ${doc.values.dexterityModifier}`)}">Roll</button>
  </div>

  <div class='constitution vblock'>
    <label>CON</label>
    <input class='value' name='constitution' placeholder='&mdash;' />
    <input class='modifier' name='constitutionModifier' placeholder='{{constitutionModifier}}' />
    <button onclick="()=>{sendMessage(`/r d20 ${doc.values.constitutionModifier}`)}">Roll</button>
  </div>

  <div class='charisma vblock'>
    <label>CHA</label>
    <input class='value' name='charisma' placeholder='&mdash;' />
    <input class='modifier' name='charismaModifier' placeholder='{{charismaModifier}}' />
    <button onclick="()=>{sendMessage(`/r d20 ${doc.values.charismaModifier}`)}">Roll</button>
  </div>
</div>


<p>Token:</p>
<asset name="token"></asset>

<p>Portrait:</p>
<asset name="portrait"></asset>

<div class='combat grid'>
  <div class='header'>
    <h2>Combat</h2>
  </div>
  <div class='left'>
    <div class='vblock'>
      <label>HP</label>
      <input name='hitpoints' placeholder='&mdash;' />
    </div>
    <div class='vblock'>
      <label>Max</label>
      <input name='maxhitpoints' placeholder='&mdash;' />
    </div>
  </div>
  <div class='center'>
    <div class='hblock'>
      <label>Init</label>
      <input name='initiative' placeholder='Initiative...' />
    </div>
    <div class='vblock'>
      <label>Movement</label>
      <div class='movement'>
        <div class='inlineblock'>
          <label for='move-encounter'>En</label>
          <input name='move-encounter' placeholder='&mdash;' />
        </div>
        <div class='inlineblock'>
          <label for='move-exploration'>Ex</label>
          <input name='move-exploration' placeholder='&mdash;' />
        </div>
        <div class='inlineblock'>
          <label for='move-overland'>Ov</label>
          <input name='move-overland' placeholder='&mdash;' />
        </div>
      </div>
    </div>
  </div>
  <div class='right'>
    <div class='vblock'>
      <label>AC</label>
      <input name='ac' placeholder='&mdash;' />
    </div>
    <div class='vblock'>
      <label>Unarmored</label>
      <input name='unarmoredac' placeholder='&mdash;' />
    </div>
  </div>
</div>

<div class='abilitiesetc grid'>
  <div class='abilities'>
    <div class='header'>
      <h2>Abilities</h2>
    </div>
    <array arrayname='abilities' accepts='abilities' class='array'>
      <div class='arrayItem'>
        <button name='remove'>-</button>
        <input type='hidden' name='documentId' />
        <input name='name' />
      </div>
    </array>
  </div>

  <div class='skills'>
    <div class='header'>
      <h2>Skills</h2>
    </div>
    <array arrayname='skills' accepts='skills' class="array">
      <div class="arrayItem">
        <button name='remove'>-</button>
        <input type='hidden' name='documentId' />
        <input name='name' />
      </div>
    </array>
  </div>

  <div class='weapons'>
    <div class='header'>
      <h2>Weapons</h2>
    </div>
    <array arrayname='weapons' accepts='weapons' class="array">
      <div class="arrayItem">
        <button name='remove'>-</button>
        <input type='hidden' name='documentId' />
        <input name='name' />
      </div>
    </array>
  </div>
</div>

<div class='savingthrows grid'>
  <div class='header'>
    <h2>Saving Throws</h2>
  </div>

  <div class='deathpoison vblock'>
    <label>Death, Poison</label>
    <input name='deathpoison' placeholder='&mdash;' />
  </div>
  <div class='magicwands vblock'>
    <label>Magic Wands</label>
    <input name='magicwands' placeholder='&mdash;' />
  </div>
  <div class='paralysispetrification vblock'>
    <label>Paralysis, Petrif.</label>
    <input name='paralysispetrification' placeholder='&mdash;' />
  </div>
  <div class='breathattacks vblock'>
    <label>Breath Attacks</label>
    <input name='breathattacks' placeholder='&mdash;' />
  </div>
  <div class='spellsrodsstaves vblock'>
    <label>Spells, Rods, Staves</label>
    <input name='spellsrodsstaves' placeholder='&mdash;' />
  </div>
</div>

<div class='treasure grid'>
  <div class='header'>
    <h2>Treasure</h2>
  </div>

  <div class='platinum vblock'>
    <label>PP</label>
    <input name='platinum' placeholder='&mdash;' />
  </div>
  <div class='gold vblock'>
    <label>GP</label>
    <input name='gold' placeholder='&mdash;' />
  </div>
  <div class='electrum vblock'>
    <label>EP</label>
    <input name='electrum' placeholder='&mdash;' />
  </div>
  <div class='silver vblock'>
    <label>SP</label>
    <input name='silver' placeholder='&mdash;' />
  </div>
  <div class='copper vblock'>
    <label>CP</label>
    <input name='copper' placeholder='&mdash;' />
  </div>
</div>

<div class='equipment'>
  <div class='header'>
    <h2>Equipment</h2>
  </div>
  <array arrayname='equipment' accepts='equipment' class="array">
    <div class="arrayItem">
      <button name='remove'>-</button>
      <input type='hidden' name='documentId' />
      <input name='name' />
    </div>
  </array>
</div>

<div class='experience grid'></div>