<div class='{{value}} vblock'>
  <label>{{label}}</label>
  <input class='value' name='{{value}}' placeholder='&mdash;' />
  <input class='modifier' name='{{modifier}}' placeholder='{{modifier}}' />
  <button onclick="()=>{sendMessage(`/r d20 ${doc.values.strengthModifier}`)}">Roll</button>
</div>