<div>
  <input name='name' />
  <p>Name: {{name}}</p>
</div>

<!-- <div id='iframe-character-fake-id' draggable='true' ondragstart='dragStartHandler(event)'
  style='background: rgba(0,255,0,1); height: 50px' ondragstart='drag(event)'>Draggable iFrame Character</div> -->

<h3>Equipment</h3>

{{#array 'myequipment' 'equipment'}}
  <div>
    <button name='remove'>-</button>
    <input name="documentId" defaultValue="62587f0a381205e9afc9b893" />
    <input name="name" style='width: 200px'>{{name}}</input>
    <span style='display: inline-block; width: 100px'>{{weight}}</span>
  </div>
{{/array}}
<!-- <button type="equipment" name="add">add equipment</button> -->

<h3>Spells</h3>

{{#array 'myspells' 'spells'}}
  <div>
    <button name='remove'>-</button>
    <input name="documentId" />
    <input name="name" style='width: 200px'>{{name}}</input>
    <span style='display: inline-block; width: 100px'>{{weight}}</span>
  </div>
{{/array}}

</div>